<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Problem Solvers</title>
    <!-- <script src="../../static/js/subjects/math.js" defer></script> -->
    <script src="{{ url_for('static', filename='js/subjects/math.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/subjects/math.css') }}">
</head>

<body>
    <section id="runge-kutta-solver">
        <p class="heading" id="rk-heading">Runge Kutta Solver</p>
        <div id="rk-function">
            <label for="rk-function-input">Input Function</label>
            <input type="text" id="rk-function-input" placeholder="x**2 + y**2">
        </div>
        <div id="rk-x0">
            <label for="rk-x0-input">Enter X0</label>
            <input type="number" id="rk-x0-input">
        </div>
        <div id="rk-y0">
            <label for="rk-y0-input">Input Y0</label>
            <input type="number" id="rk-y0-input">
        </div>
        <div id="rk-h">
            <label for="rk-h-input">Enter H</label>
            <input type="number" id="rk-h-input">
        </div>
        <div id="rk-buttons-section">
            <button class="btn btn-rk-answer">Calculate</button>
            <button class="btn btn-rk-clear">Clear</button>
        </div>
        <div id="rk-answer">
            <p id="rk-helper-text" class="invisible">Please Enter Proper Values</p>
            <p id="rk-k1"></p>
            <p id="rk-k2"></p>
            <p id="rk-k3"></p>
            <p id="rk-k4"></p>
            <p id="rk-x1"></p>
            <p id="rk-y1"></p>
        </div>
    </section>
</body>

</html>