@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap");

:root {
  --color-bg: rgb(41, 41, 89);
  --color-text: rgb(211, 211, 90);
}

* {
  font-family: "Gabarito", cursive;
}

body {
  background-color: var(--color-bg);
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  place-content: center;
}

#main-heading {
  width: 100%;
  text-align: center;
  color: var(--color-text);
  font-size: 4rem;
  margin-bottom: 0;
}

#subjects-list {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 3rem;
  padding: 0;
  font-size: 2rem;
  margin-bottom: 5rem;
}

.subjects-list-item a {
  text-decoration: none;
  color: var(--color-text);
}

.subjects-list-item {
  position: relative;
  transition: 0.3s ease all;
}

.subjects-list-item::before {
  position: absolute;
  content: "";
  background-color: var(--color-text);
  bottom: 0;
  right: 50%;
  width: 0%;
  height: 2px;
  transition: all 0.3s ease;
}

.subjects-list-item::after {
  position: absolute;
  content: "";
  background-color: var(--color-bg);
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  transition: all 0.3s ease;
}

.subjects-list-item:hover {
  font-size: 2.5rem;
}

.subjects-list-item:hover:before {
  width: 50%;
}

.subjects-list-item:hover:after {
  width: 50%;
}

#page-description {
  color: var(--color-text);
  font-size: 1.5rem;
}

#student-options-list {
  list-style-type: none;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}


.student-options-item a {
  padding: 0.7rem;
  font-size: 2rem;
  text-decoration: none;
  color: var(--color-text);
  position: relative;
}

.student-options-item a::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid var(--color-text);
  border-right: 0;
  border-bottom: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s ease all;
}

.student-options-item a::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border: 2px solid var(--color-text);
  border-left: 0;
  border-top: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s ease all;
}

.student-options-item a:hover:after,
.student-options-item a:hover:before {
  width: 20%;
  height: 35%;
}

.resources-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 1rem;
  justify-content: center;
  align-items: center;

}

.resources-list a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-text);
  text-align: center;
  justify-content: center;

}


@media (max-width: 1111px) {
  #student-nav {
    width: 100%;
  }
}

@media (max-width:411px) {

  .resources-list {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;

  }

  .resources-list a {
    font-size: 1rem;
    text-align: center;
  }

  .resources-list li a p {
    text-align: center;
    margin: 0;
  }
}


#student-options-list {
  list-style-type: none;
  width: 100%;
  height: 6rem;
  padding: 0;

  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}


.student-options-item a {
  padding: 0.7rem;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(211, 211, 90);
  position: relative;
}

#main-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: 3rem;
}