<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about-us.css')}}">

</head>

<body>
  <nav id="student-nav">
    <ul id="student-options-list">
      <li class="student-options-item"><a href="/">Home</a></li>
      <li class="student-options-item"><a href="/about-us">About Us</a></li>
      <li class="student-options-item"><a href="/problem-solvers">Problem Solvers</a></li>
      <li class="student-options-item"><a href="/gpa-calculators">GPA Calculators</a></li>
      <li class="student-options-item"><a href="/resources">Resources</a></li>
    </ul>
  </nav>
  <div>
    <h1>About Us:</h1>
    <p>Welcome to our Student-Friendly Engineering Math Calculator - your go-to resource for solving complex
      mathematical
      problems in the world of engineering. <br> We are a passionate team of engineers and educators who have come
      together
      to
      make your academic journey smoother, more enjoyable, and, most importantly, successful.<br></p>

    <h2>Our Mission:</h2>

    <p>Our mission is to simplify the lives of engineering students by providing them with an easy-to-use,
      comprehensive,
      and accurate mathematical tool. We understand the challenges that students face in their studies, and our goal
      is
      to
      empower you with the knowledge and tools you need to excel in your engineering courses.</p>

    <h2>Existence : </h2>

    <p>Engineering mathematics can be daunting, and we've witnessed countless students struggle with the mathematical
      aspects of their studies. This is where we saw an opportunity to make a difference. We believe that
      everyone
      deserves access to high-quality educational resources, and our calculator is designed to bridge the gap between
      complex math and students' needs.</p>

    <h2>Meet the Team :</h2>

    <p>Our team comprises of 2 tech enthusiasts who share a common passion for
      education and technology. We've come together to create a tool that simplifies your learning journey.</p>

    <h2>Get in Touch :</h2>

    <p>
      We are always eager to hear from you, whether it's for feedback, questions, or suggestions. Your input is
      invaluable
      in helping us make our calculator even better.

      Join us on our journey to make engineering math more accessible and less intimidating. Thank you for choosing
      our
      Student-Friendly Engineering Math Calculator to support your academic success.
    </p>
    <div id="badges">
      <a href="https://www.linkedin.com/in/shreyas-salankimatt-83588a260/" target="_blank">
        <img src="https://img.shields.io/badge/LinkedIn-blue?style=for-the-badge&logo=linkedin&logoColor=white"
          alt="LinkedIn Badge" />
      </a>
      <p>Shreyas's LinkedIn</p>
      <a href="https://www.linkedin.com/in/ashray-chaitanya-8b605b288/" target="_blank">
        <img src="https://img.shields.io/badge/LinkedIn-blue?style=for-the-badge&logo=linkedin&logoColor=white"
          alt="LinkedIn Badge" />
      </a>
      <p>Ashray's LinkedIn</p>
    </div>
  </div>
</body>

</html>