<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem Solvers</title>
    <link rel="stylesheet" href="../static/css/problem-solvers.css">
</head>

<body>
    <h1 id="main-heading">VTU Problem Solving Calculators</h1>
    <main>
        <section id="subjects-selector">
            <ul id="subjects-list">
                <li class="subjects-list-item"><a href="/math">Math</a></li>
                <li class="subjects-list-item"><a href="">Physics</a></li>
                <li class="subjects-list-item"><a href="">Chemistry</a></li>
                <li class="subjects-list-item"><a href="">Electronics</a></li>
            </ul>
            <p id="page-description">This page contains problem solving calculators for many subjects' questions
                which you won't find an online solution to.</p>
    </main>
</body>

</html>