<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculators</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/problem-solvers.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.png')}}" type="image/x-icon">
</head>

<body>
    <nav id="student-nav">
        <ul id="student-options-list">
            <li class="student-options-item"><a href="/">Home</a></li>
            <li class="student-options-item"><a href="/about-us">About Us</a></li>
            <li class="student-options-item"><a href="/problem-solvers">Problem Solvers</a></li>
            <li class="student-options-item"><a href="/gpa-calculators">GPA Calculators</a></li>
            <li class="student-options-item"><a href="/resources">Resources </a></li>
        </ul>
    </nav>
    <h1 id="main-heading">VTU Problem Solving Calculators</h1>
    <main>
        <section id="subjects-selector">
            <ul id="subjects-list">
                <li class="subjects-list-item"><a href="/sem1-math">1st Semester Math</a></li>
                <li class="subjects-list-item"><a href="/sem2-math">2nd Semester Math</a></li>
            </ul>
            <p id="page-description">This page contains problem solving calculators for questions to
                which you won't find an online solution.</p>
    </main>
</body>

</html>