<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Euler Method Solver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/subjects/math/euler.css') }}">
    <script src="{{ url_for('static', filename='js/subjects/math/euler.js') }}" defer></script>
</head>

<body>
    <h1 id="euler-heading">Euler's Method Solver</h1>
    <div class="euler-function">
        <label for="function">Function:</label>
        <input type="text" name="" id="function" placeholder="x**2 + y**2">
    </div>
    <div class="euler-x0">
        <label for="x0">X0:</label>
        <input type="number" name="" id="x0">
    </div>
    <div class="euler-y0">
        <label for="y0">Y0:</label>
        <input type="number" name="" id="y0">
    </div>
    <div class="euler-n">
        <label for="n">N:</label>
        <input type="number" name="" id="n">
    </div>
    <div class="euler-h">
        <label for="h">Step (H):</label>
        <input type="number" name="" id="h">
    </div>
    <div class="buttons">
        <button id="calculate-euler">Calculate</button>
        <button id="reset-euler">Reset</button>
    </div>
    <div class="answer-euler">
        <p id="final-ans"></p>
    </div>
</body>

</html>