<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Euler Method Solver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/subjects/math/euler.css') }}">
    <script src="{{ url_for('static', filename='js/subjects/math/euler.js') }}" defer></script>
</head>

<body>
    <h1 id="euler-heading">Euler's Method Solver</h1>
    <input type="text" name="" id="">
</body>

</html>