<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simpson's 3/8th Rule Solver</title>
  <script src="{{ url_for('static', filename='js/subjects/math/simpson-3-8.js') }}" defer></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/subjects/math/simpson-3-8.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.png')}}" type="image/x-icon">
</head>

<body>
  <nav id="student-nav">
    <ul id="student-options-list">
      <li class="student-options-item"><a href="/">Home</a></li>
      <li class="student-options-item"><a href="/about-us">About Us</a></li>
      <li class="student-options-item"><a href="/problem-solvers">Problem Solvers</a></li>
      <li class="student-options-item"><a href="/gpa-calculators">GPA Calculators</a></li>
      <li class="student-options-item"><a href="/resources">Resources </a></li>
    </ul>
  </nav>
  <h1 id="simpson-3-8-heading">Simpson's 3/8th Rule Solver</h1>
  <div class="container">
    <div class="s38-function" id="alignment-fix">
      <label for="function">Enter the function :</label>
      <input type="text" id="function" placeholder="1/1+x**2" class="right-align">
    </div>
    <div class="s38-lower-limit" id="alignment-fix">
      <label for="lower-limit">Enter Lower Limit of Integration : </label>
      <input type="number" id="lower-limit" class="right-align">
    </div>
    <div class="s38-upper-limit-value" id="alignment-fix">
      <label for="upper-limit-value">Enter Upper Limit of Integration : </label>
      <input type="number" id="upper-limit-value" class="right-align">
    </div>
    <div class="s38-sub-intervals" id="alignment-fix">
      <label for="sub-intervals">Enter Number of Sub-Intervals :</label>
      <input type="number" id="sub-intervals" class="right-align">
    </div>
    <div class="control-buttons buttons">
      <button type="button" class="calculate-btn btn">Calculate</button>
      <button type="button" class="reset-btn btn">Reset</button>
      <p>How to use ⓘ</p>
    </div>
    <div class="ans-para">
      <p class="ans-text"></p>
    </div>
  </div>

</body>

</html>